body {
	width: 400px;
	height: auto;
}

#day {
	text-align: center;
	width: 100%;
}

.buttonRow {
	width: 100%;
	justify-content: center;
	text-align: center;
}

.sites {
	width: 75%;
	float: left;
}

.time {
	width: 25%;
	float: right;
}

table {
	width: 100%;
	height: auto;
}

tr:nth-child(even) {
	background-color: #CCC;
}

th {
	text-align: left;
}

#resetCheck {
	text-align: center;
	display: none;
}