body {
	width: 400px;
	height: auto;
}

#day {
	text-align: center;
	width: 100%;
}

button {
	border: none;
	padding: 5px;
}

#start {
	background-color: green;
	color: white;
}

#start:hover, #start:active, #start:focus {
	background-color: #006400;
}

#stop {
	background-color: red;
	color: white;
}

#stop:hover, #stop:active, #stop:focus {
	background-color: #B22222;
}

#show:hover, #show:active, #show:focus {
	background-color: black;
	color: white;
}

#view {
	background-color: #3498DB  ;
	color: white;
}
#view:hover, #view:active, #view:focus {
	background-color: #2B7EB4;
}
.sites {
	width: 75%;
	float: left;
}

.time {
	width: 25%;
	float: right;
}

table {
	width: 100%;
	height: auto;
}

tr:nth-child(even) {
	background-color: #CCC;
}

th {
	text-align: left;
}

#resetCheck {
	text-align: center;
	display: none;
}